.container {
    width: 1400px;
    margin: 0 auto;
    padding-top: 700px;
    position: relative;
}
.anim__list {
    display: flex; 
    align-items: flex-end;
}
.anim__list:hover .anim__list-item{
    animation-play-state: paused;
}

:root {
    --time-anim: 7s;
    --step-time:  calc(-1 * (var(--time-anim) / 7));
}

.anim__list-item {
    position: absolute;
    width: 10%;
    height: 350px;
    background-color: #8316ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    box-shadow: 0 15px 20px -2px gray;
    animation-name: rotation;
    animation-duration: var(--time-anim);
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

.anim__list-item:nth-child(2) {
    background-color: #00d8d6;
    animation-name: rotation;
    animation-delay: var(--step-time);
}
.anim__list-item:nth-child(3) {

    background-color: #0be881;
    animation-name: rotation;
    animation-delay: calc(2 * var(--step-time));
}
.anim__list-item:nth-child(4) {
    background-color: #f53b57;
    animation-name: rotation;
    animation-delay: calc(3 * var(--step-time));
}
.anim__list-item:nth-child(5) {
    background-color: #ffdd59;
    animation-name: rotation;
    animation-delay: calc(4 * var(--step-time));
}
.anim__list-item:nth-child(6) {
    background-color: #ef5777;
    animation-name: rotation;
    animation-delay: calc(5 * var(--step-time));
}
.anim__list-item:nth-child(7) {
    background-color: #d2dae2;
    animation-name: rotation;
    animation-delay: calc(6 * var(--step-time));
}


@keyframes rotation {
    0% {
        left: 0%;
        height: 350px;
        /* left: 5%; */
        z-index: -1;
    }
    14.3% {
        left: 16.7%;
        height: 400px;
        /* left: 18.6%; */
        z-index: 0;
    }
    28.6% {
        left: 33.4%;
        /* left: 32.2%; */
        height: 450px;
        z-index: 1;
    }
    42.9% {

        left: 50.1%;
        /* left: 45.8%; */
        height: 450px;
        z-index: 1;
    }
    57.3% {
        left: 66.8%;
        /* left: 59.4%; */
        height: 450px;
        z-index: 1;
    }
    71.6% {
        left: 83.5%;
        height: 400px;
        /* left: 73%; */
       z-index: 1;
    }
    85.9% {
        left: 100%;
        /* left: 86.6%; */
        height: 350px;
        z-index: -1;
    }
    100% {
        left: 0%;
        /* left: 5%; */
        z-index: -1;
        box-shadow: 0 15px 10px -2px gray;
    }
}

.anim__list-item:last-child {
    margin: 0;
}

.anim__list-item-img {
    font-size: 100px;
}

.anim__list-item-title {

}